.insurance-progress {
  text-align: center;
  margin: 5px 0 35px;
  padding: 0;
}

.insurance-progress li {
  display: inline-block;
  font-weight: bold;
  position: relative;
  font-size: 1.9rem;
}

.insurance-icons {
  font-size: 3.5rem;
  color: #0067a7;
  margin-bottom: 15px;
}

.progress-track {
  margin: 0 auto;
  text-align: center;
  align-items: center;
  position: relative;
  width: 98%;
  height: 1px;
  top: 22px;
  background-color: #26315b;
  z-index: -2;
}

.progress-track-overlay {
  height: 5px;
  background: #0076be;
  position: relative;
  z-index: -1;
}

.circle-container {
  display: flex;
  justify-content: space-between;
}

.insurance-circle {
  color: #888888;
  background: white;
}

.incomplete {
  color: #b0cfe4;
  box-shadow: inset 0px 0px 0px 10px #26315b;
  border-radius: 100%;
}

.complete {
  color: #26315b;
}
