.levelup-logo {
  height: 40px;
}

.enrol-form-box {
  margin: 20px auto 100px;
  max-width: 1000px;
}

.enrol-form-box h1 {
  margin: 20px 0 35px;
  color: #26315b;
}

.enrol-form-container {
  margin: 20px auto;
  background-color: #f6fbff;
  padding: 40px 0;
}

.enrol-form-container form {
  width: 85%;
  margin: 0 auto;
}

.enrol-field {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.enrol-field div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.enrol-form-container input[type="text"],
.enrol-form-container input[type="password"],
.enrol-form-container input[type="email"] {
  display: block;
  width: 90%;
  max-width: 430px;
  height: 40px;
  padding: 6px 12px;
  margin: 10px 0;
  font-size: 14px;
  line-height: 1.4;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}

.radio-selection-container {
  margin-top: 15px;
}

.radio-selection-container label {
  display: flex;
  align-items: flex-end;
}

.radio-selection-container label:nth-child(1) {
  margin-right: 25px;
}

.radio-selection-container input[type="radio"] {
  height: 20px;
  width: 20px;
  margin: 0 0 0 10px;
}

.course-small {
  font-size: 0.7rem;
  margin: 0;
  color: #979797;
}

.course-price {
  margin: 15px 0 0 0;
  font-size: 1.5rem;
}

.course-selector {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  padding: 0;
}

.course-option {
  cursor: pointer;
  background-color: white;
  text-align: center;
  width: 32%;
  padding: 20px 0;
  max-width: 250px;
  border: 2px solid #c4c4c4;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 100ms ease-in;
}

.selected {
  border: 2px solid black;
}

.course-option:nth-child(2) {
  margin: 0 20px;
}

.course-title {
  margin: 0 0 15px 0;
  font-size: 1.1rem;
}

.course-option input[type="radio"] {
  width: 20px;
  height: 20px;
  margin: 10px 0 25px 0;
  filter: grayscale(1);
}

.course-image {
  width: 75%;
  height: 100px;
  margin: 30px auto 50px;
}

.course-image img {
  border-radius: 100%;
}

.course-option:hover {
  filter: opacity(1);
}

.course-selector input:active + .course-option {
  opacity: 1;
}
.course-selector input:checked + .course-option {
  filter: none !important;
}

.course-form form ul img {
  width: 180px;
}

.course-button {
  display: flex;
  margin: 40px auto 0;
  padding: 15px 15%;
}

/* Login button css */
.login-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.already-account {
  margin-right: 12px;
}
