.enrol-form-box {
  margin: 0 auto;
}

.enrol-form-container {
  margin: 20px 50px;
}

.enrol-form-box form {
  width: 80%;
  margin: 0 auto;
}

.enrol-field {
  width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.enrol-field div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.enrol-form-box input[type="text"],
.enrol-form-box input[type="password"],
.enrol-form-box input[type="email"] {
  display: block;
  width: 100%;
  max-width: 430px;
  height: 40px;
  padding: 6px 12px;
  margin: 10px 0;
  font-size: 14px;
  line-height: 1.4;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}

.radio-selection-container {
  margin-top: 15px;
}

.radio-selection-container label {
  display: flex;
  align-items: flex-end;
}

.radio-selection-container label:nth-child(1) {
  margin-right: 25px;
}

.radio-selection-container input[type="radio"] {
  height: 20px;
  width: 20px;
  margin: 0 0 0 10px;
}

.course-small {
  font-size: 0.7rem;
  margin: 0;
}

.course-price {
  margin-bottom: 0;
}

.course-selector {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 25px;
  padding: 0;
}

.course-option {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  width: 32%;
  max-width: 250px;
  border: 1px solid #adadad;
  border-radius: 10px;
  transition: all 100ms ease-in;
  /* filter: grayscale(1) opacity(0.7); */
}

.course-option h2 {
  margin: 10px 0 2px 0;
}

.course-desc {
  font-size: 0.8rem;
  margin: 0 0 10px 0;
}

.course-option input[type="radio"] {
  width: 20px;
  height: 20px;
  margin: 10px 0 25px 0;
}

.course-image-placeholder {
  width: 85%;
  height: 100px;
  margin: 0 auto 10px;
  background-color: grey;
  border-radius: 5px;
}

.course-option:hover {
  filter: grayscale(0.3) opacity(0.9);
}

.course-selector input:active + .course-option {
  opacity: 0.9;
}
.course-selector input:checked + .course-option {
  filter: none !important;
}

.course-form form ul img {
  width: 180px;
}

.course-button {
  display: flex;
  margin: 40px auto 0;
}
