.MainFooterLayout {
	background-color: #f9a195;
	color: #4b4c4d;
	width: 100%;
	/* height: 100%; */
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.FooterContainer {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: auto;
	padding: 3%;
	flex-wrap: wrap;
}

.ContentContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	/* width: 100%; */
	flex-wrap: wrap;
	margin: auto;
}

.footerLogos {
	font-size: 3em;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 20%;
	margin: auto;
}
