.hide {
	display: none;
}

.close {
	position: absolute;
	font-size: 21px;
	font-weight: 700;
	color: #000;
	opacity: 0.2;
	right: 0;
	cursor: pointer;
	border: none;
	background: none;
	padding: 6px 18px;
}

.close:hover {
	opacity: 0.4;
}
.switch-link {
	font-size: 16px;
	background: none;
	border: none;
	padding: 0;
	text-decoration: underline;
}

/* Login Form CSS */
.login-form {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.modal-form-container {
	position: fixed;
	text-align: center;
	z-index: 1000;
	height: 1px;
	left: 0;
	right: 0;
}

.login-form-box {
	animation: slideIn 0.25s;
	display: flex;
	position: relative;
	flex-direction: column;
	background-color: white;
	width: 550px;
	margin: 30px auto;
	padding-bottom: 30px;
	box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
	border: 1px solid rgba(0, 0, 0, 0.2);
	background-clip: padding-box;
	border-radius: 6px;
	top: 0;
}

.login-form-box h1 {
	margin: 35px 0;
}

.login-form-box input[type="text"],
input[type="password"],
input[type="email"] {
	display: block;
	width: 60%;
	margin: 0 20% 10px;
	height: 40px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.4;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}

.login-form-box input[type="password"] {
	margin-bottom: 0;
}

.login-form-box input[type="checkbox"] {
	margin-right: 5px;
	width: 15px;
	height: 15px;
}

.forgot-password {
	width: 60%;
	text-align: right;
	margin: 3px auto 0;
	font-size: 0.8rem;
	color: #929292;
	cursor: pointer;
}

.forgot-password:hover {
	color: black;
}

.keep-sign-in {
	display: flex;
	justify-content: center;
}

.submit-button {
	padding: 10px 24px;
	font-size: 18px;
	border-radius: 6px;
	margin: 30px 0;
	background-color: #f4b400;
	border: 1px solid #e2aa00;
	color: white;
	text-shadow: 0 2px 1px rgb(0 0 0 / 20%), 0 0 18px rgb(0 0 0 / 20%);
}

.alt-register {
	margin-bottom: 0;
}

.social-media-container {
	list-style-type: none;
	padding: 0;
	margin-top: 0;
	display: flex;
	justify-content: center;
}

.social-media-container button {
	font-size: 18px;
	line-height: 0.1;
	padding: 10px 40px;
	border: 1px solid #e6e6e6;
	color: white;
	border-radius: 4px;
}

.social-media-container .facebook {
	background-color: #4267b2;
}
.social-media-container .twitter {
	background-color: #1da1f2;
}
.social-media-container .google {
	background-color: #db4437;
}

.social-media-container li:nth-child(2) {
	margin: 0 10px;
}

/* Register Form css */

.register-form ul {
	padding: 0;
}

.register-form h2 {
	margin: 0 0 20px;
}

.register-selector {
	display: flex;
	justify-content: center;
	margin: 5px auto 25px;
}

.register-selector input {
	margin: 0;
	padding: 0;
	appearance: none;
}

.student-op,
.teacher-op {
	background-image: url("../../assets/img/placeholderimg.jpg");
}

.register-option {
	cursor: pointer;
	background-size: contain;
	background-repeat: no-repeat;
	margin: 0 15px;
	width: 140px;
	height: 140px;
	transition: all 100ms ease-in;
	filter: brightness(0.8) grayscale(1) opacity(0.5);
}

.register-option:hover {
	filter: brightness(1.1) grayscale(0.5) opacity(0.9);
}

.register-selector input:active + .register-option {
	opacity: 0.9;
}
.register-selector input:checked + .register-option {
	filter: none;
}

.register-form form ul img {
	width: 180px;
}

.register-button {
	margin-top: 20px;
}

/* Dark background fade in out */

.modal-backdrop {
	animation: fadeIn 0.25s;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
	background-color: #000;
	opacity: 0.5;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.5;
	}
}

@keyframes slideIn {
	0% {
		top: -350px;
	}
	100% {
		top: 0;
	}
}
