.nav-button {
  width: 130px;
  height: 40px;
  border-radius: 8px;
  border: none;
  text-transform: uppercase;
}

.enrol-nav-button {
  background: #ffc144;
  transition: 0.1s;
}

.login-nav-button {
  margin-left: 10px;
  background: none;
  transition: 0.11s;
  border: 1px solid #b08f71;
}

.enrol-nav-button:hover {
  font-weight: bold;
}

.login-nav-button:hover {
  font-weight: bold;
}
